.about__container {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 300;
}

.about__container span:first-child {
    font-size: 20px;
}

.about__container span:last-child {
    display: block;
    margin-top: 10px;
}